$primary-color: #FFFFFF;
$secondary-color: #F6F4F2;

$primary-menu-color: #888888;
$menu-color-hover: #444444;

$title-color: #dcc8b4;

$font-title: "Alex Brush";
$font-des: 'italic';

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-big: 18px;